* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "navigation navigation navigation navigation"
    "section    section    section    section"
    "footer     footer     footer     footer";
  grid-template-rows: 4.5vw auto 5vw;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Amatic SC", cursive;
  color: rgb(3, 15, 15);
  margin: 0;
  padding: 0;
  background-image: url("triangular.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 0.1em;
}
.navigation {
  grid-area: navigation;
  font-size: 1.4em;
  width: 100%;
  position: fixed;
  top: 5px;
  letter-spacing: 0.5em;
  font-weight: 550;
}
.header {
  grid-area: header;
}
.title {
  grid-area: title;
  margin: 0;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: rgba(133, 138, 138, 0.281);
}
.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
  margin-top: 0.5vw;
  text-align: center;
  background-color: rgb(48, 47, 47);
  color: rgb(189, 187, 187);
  box-shadow: 3px 1px 15px 5px #494848;
  border-top: 1px solid rgb(138, 143, 143);
}

.header,
.navigation {
  color: #fff;
  background-color: #ff7c7cce;
  box-shadow: 2px 0px 15px 7px #e9f0f3;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 5em;
  text-shadow: 12px 12px 9px rgb(52, 56, 56);
}

h1 > a {
  text-decoration: none;
  color: #fff;
}

h1 > a:hover {
  color: rgb(48, 46, 46);
}

h3 {
  font-size: 1.4em;
  letter-spacing: 0.2em;
  margin: 0 0 5px 0;
  padding-bottom: 7px;
}

h4 {
  font-size: 1.6em;
  margin: 10px;
  padding: 0 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.507);
}

nav ul {
  list-style: none;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: rgb(3, 15, 15);
  text-decoration: underline;
}

svg {
  width: 100%;
  height: 47.8px;
  position: absolute;
  margin-left: -50%;
  padding: 0;
  box-shadow: 6px 6px 13px 5px #60616169;
}

rect {
  width: 100%;
  height: 100%;
  fill: rgba(255, 255, 255, 0.527);
  transition-duration: 2s;
}

.hed {
  margin: 0;
  padding: 7px;
  font-size: 1.7em;
  font-weight: bold;
}

.active_page {
  color: rgb(3, 15, 15);
}

.top_menu {
  width: 42vw;
  height: 2.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 8px auto;
}

.top_menu > li {
  display: inline-block;
  position: relative;
  font-size: 1.3em;
}

.submenu {
  position: absolute;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.3s linear;
  line-height: 1.6em;
  border-radius: 3%;
}

ul.submenu {
  width: 180px;
  text-align: center;
  background-color: #ff7c7cce;
}

.top_menu > li:hover .submenu {
  transform: scaleY(1);
}

.scroll-top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 3px 7px 5px rgba(116, 114, 114, 0.746);
  background-color: rgba(189, 189, 189, 0.541);
  z-index: 5;
}

.scroll-top-btn-icon {
  width: 40px;
  height: 40px;
  display: block;
}

img.scroll-top-btn-icon {
  padding: 0;
  border: 0;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .top_menu {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .top_menu {
    font-size: 0.8em;
    height: 50px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  h1 {
    margin-top: 14%;
    font-size: 3em;
  }
  h3 {
    font-size: 1em;
    letter-spacing: 0.2em;
    margin: 0 0 5px 0;
    padding-bottom: 7px;
  }
  h2 {
    font-size: 1em;
  }
}
