form {
  position: relative;
  height: auto;
  width: 50vw;
  margin: 7% auto 50px auto;
  padding: 20px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(3, 15, 15);
  text-align: center;
  border: 2px solid black;
  background-color: rgba(133, 138, 138, 0.281);
  background-image: url("../images/point.png");
  background-attachment: local;
  background-size: 111%;
  box-shadow: 10px -10px 23px 4px black;
}
.message {
  display: inline-block;
  padding: 1vw;
  font-size: 1em;
  background-color: rgba(165, 172, 172, 0.281);
  visibility: hidden;
}
#name,
#email,
#text {
  height: 3vw;
  width: 18vw;
  margin: 10px 20px 10px 20px;
  font-size: 0.9em;
  font-family: "Amatic SC", cursive;
  text-align: center;
  outline-color: black;
  box-shadow: 6px 6px 10px 5px #6b6d6da6;
}
#text {
  height: 10vw;
  width: 40vw;
  margin: 10px 0;
  text-align: left;
}
#submit {
  height: 50px;
  width: 150px;
  margin-bottom: 13px;
  font-size: 0.9em;
  cursor: pointer;
  font-family: "Amatic SC", cursive;
  border: 2px solid black;
  box-shadow: 8px 8px 10px 4px #636b6b;
}
#submit:hover {
  color: #fff;
  background-color: #fc6363;
  box-shadow: 0px 0px 10px 6px #f8fcfc;
}
@media (min-width: 1367px) {
  form {
    height: 32vw;
  }
}
@media (max-width: 920px) {
  form {
    width: 360px;
    font-size: 1.2em;
  }
  #submit {
    height: 40px;
    width: 130px;
  }
  #text {
    height: 90px;
    width: 270px;
    text-align: left;
  }
  #name,
  #email {
    height: 35px;
    width: 270px;
  }
}
@media (max-width: 450px) {
  form {
    height: 350px;
    width: 300px;
    margin: 40px auto 50px auto;
    padding: 10px;
    font-size: 1.1em;
  }
  #name,
  #email {
    margin: 8px 0;
  }
}
