figure {
  padding: 30px;
  margin: 30px 15px;
  background-color: rgba(133, 138, 138, 0.281);
  height: auto;
  color: rgb(3, 15, 15);
  border: 3px solid black;
  text-align: center;
}

figure img {
  width: 40vw;
  border: 6px solid rgba(255, 255, 255, 0.781);
}

.description {
  font-size: 1.5em;
  text-align: justify;
  padding: 15px 0 0 0;
  margin: 0;
}

figcaption {
  font-size: 1.2em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: center;
}

.column {
  flex: 48%;
  max-width: 48%;
}

@media (max-width: 1086px) {
  figure img {
    width: 34vw;
  }
  .description {
    font-size: 1.4em;
  }
}

@media (max-width: 835px) {
  h4 {
    font-size: 1.4em;
  }
  figure {
    padding: 17px;
  }
  figcaption {
    font-size: 1em;
    padding: 0 5px;
  }
  .description {
    font-size: 1.3em;
    padding: 5px;
    margin: 5px 0;
  }
}

@media (max-width: 660px) {
  h4 {
    font-size: 1.2em;
  }
  .column {
    flex: 90%;
    max-width: 95%;
  }
  figure img {
    width: 75vw;
  }
  figure {
    margin: 10px;
  }
  
}

@media (max-width: 430px) {
  .column {
    flex: 90%;
    max-width: 95%;
  }
  figure img {
    width: 70vw;
  }
}
