figure {
  padding: 20px;
  margin: 30px 15px;
  background-color: rgba(133, 138, 138, 0.281);
  height: auto;
  color: rgb(3, 15, 15);
  border: 3px solid black;
  text-align: center;
}

figure img {
  width: 39vw;
  border: 6px solid rgba(255, 255, 255, 0.781);
}

.description {
  font-weight: 600;
  font-size: 1.3em;
  text-align: justify;
  padding: 10px;
}

figcaption {
  font-size: 1.2em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: center;
}

.column {
  flex: 48%;
  max-width: 48%;
}

@media (max-width: 1086px) {
  figure img {
    width: 34vw;
  }
}

@media (max-width: 835px) {
  h4 {
    font-size: 1.2em;
  }
  figcaption {
    font-size: 0.9em;
  }
  .description {
    font-size: 1em;
    padding: 5px;
  }
  p.description {
    margin: 5px 0;
  }
}

@media (max-width: 660px) {
  .column {
    flex: 90%;
    max-width: 95%;
  }
  figure img {
    width: 75vw;
  }
   figure {
    margin: 10px;
  }
 }

@media (max-width: 430px) {
  .column {
    flex: 90%;
    max-width: 95%;
  }
  figure img {
    width: 70vw;
  }
 }
