.section {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 10px;
  padding: 4px 0;
  justify-content: space-evenly;
  border: 3px solid black;
}

.row img {
  width: 25vw;
  border: 3px solid black;
  padding: 4px;
  margin: 4px;
}

.scale {
  transition: 1s easy-in-out;
}

.scale:hover {
  transform: scale(1.9);
  background-color: rgba(0, 0, 0, 0.521);
  transition: 1s;
}

@media (max-width: 881px) {
  .row img {
    width: 37vw;
  }
  .scale:hover {
    transform: scale(1.65);
  }
}

@media (max-width: 499px) {
  .row img {
    width: 75vw;
  }
  .scale:hover {
    transform: scale(1.32);
  }
}
