.section {
  margin: 1vw auto;
  text-align: center;
}
section > div:first-child {
  display: inline-block;
  max-width: 60%;
  margin: 3vw 0 0 0;
  text-align: center;
  background: url("../images/geometry.png") no-repeat fixed  bottom;
  background-size: 53%;
}
section > div:first-child > h3 {
  display: inline-block;
  width: 60%;
  margin: 50px 0 10px 0;
}
section > div:first-child > p {
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0.507);
  box-shadow: 6px -6px 26px 6px #06070769;
}
.box {
  max-width: 1366px;
  height: 600px;
  margin: 3vw 0 1vw 0;
}
.aside {
  position: relative;
  float: left;
  width: 25%;
  height: 42.4vw;
  max-height: 700px;
  margin-top: 1vw;
  z-index: 1;
}
h3 {
  margin-bottom: 30px;
  box-shadow: 6px -6px 26px 6px #06070769;
}
.text {
  height: calc(50% + 120px);
  padding: 20px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.507);
  box-shadow: 6px -6px 26px 6px #06070769;
}
.midle {
  float: left;
  width: 50%;
}
.selfi {
  height: 45vw;
  margin: 1.5vw 0;
  background: url("../images/selfi.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 5px -5px 23px 4px black;
  z-index: 15;
}
h3.clear {
  padding: 1vw;
  margin: 0;
}
ul.midle {
  height: 80%;
  padding-inline-start: 2%;
  padding-inline-end: 1%;
 
}
ul.midle,
ul.text {
  font-size: 1.2em;
  font-weight: bold;
  list-style: radial-gradient(rgb(255, 162, 162) 60%, rgb(122, 122, 121) 35%);
  list-style-position: inside;
}
ul.midle > li {
  width: 98%;
  padding: 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.507);
  box-shadow: 6px -6px 26px 6px #06070769;
}

/*////////////////////////////Адаптивность////////////////////////////*/
@media (min-width: 1367px) {
  .scroll-selfi {
  }
}
@media (max-width: 1298px) {
  .box {
    height: 450px;
  }
  ul.midle,
  ul.text {
    font-size: 1em;
  }
  .text {
    padding: 10px;
  }
  ul.midle > li {
    padding: 5px;
  }
}
@media (max-width: 1115px) {
  h3 {
    font-size: 1.2em;
  }
  .aside {
    width: 100%;
    height: auto;
  }
  .midle {
    width: 100%;
  }
  ul.midle,
  ul.text {
    height: auto;
  }
  .selfi {
    height: 100vw;
  }
  .text {
    height: auto;
  }
}
