.selfi-im {
    margin: 1vw;
    border-radius: 50%;
    border: 20px double rgba(10, 10, 10, 0.568);
  }
  
  .center {
    text-align: center;
    height: 750px;
    width: 100%;
    margin: 1% auto;
  }