* {
  box-sizing: border-box;
}

.container {
  font-family: "Amatic SC", cursive;
  color: rgb(3, 15, 15);
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 0.1em;
}
.navigation {
  font-size: 1.8em;
  width: 100%;
  padding: 5px;
  position: fixed;
  top: 7px;
  letter-spacing: 0.5em;
  font-weight: 550;
  z-index: 500;
}
.header {
  position: relative;
  top: 4.3vw;
  justify-content: center;
}
.title {
  position: relative;
  top: 4.1vw;
  margin: 0;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: rgba(133, 138, 138, 0.281);
}
.section {
  margin-top: 6%;
  margin-bottom: 2.5%;
}

.header,
.navigation {
  color: #fff;
  background-color: #ff7c7cce;
  box-shadow: 2px 0px 15px 7px #e9f0f3;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 5em;
  text-shadow: 12px 12px 9px rgb(52, 56, 56);
}

h1 > a {
  text-decoration: none;
  color: #fff;
}

h1 > a:hover {
  color: rgb(71, 69, 69);
}

h1,
h3,
.hed,
rect,
.navigation {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 1.4em;
  letter-spacing: 0.2em;
  margin: 0 0 5px 0;
  padding-bottom: 7px;
}

h4 {
  font-size: 1.7em;
  margin: 0 0 15px 0;
  background-color: rgba(255, 255, 255, 0.507);
}

nav ul {
  list-style: none;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(3, 15, 15);
  text-decoration: underline;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -50%;
  padding: 0;
  box-shadow: 6px 6px 13px 0px #60616169;
}

rect {
  width: 100%;
  height: 100%;
  fill: rgba(255, 255, 255, 0.527);
}

rect.second {
  fill: rgba(185, 187, 187, 0.281);
}

.hed {
  margin: 0;
  padding: 7px;
  font-size: 1.7em;
  font-weight: bold;
}

.active_page {
  color: rgb(3, 15, 15);
}

.top_menu {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.top_menu > li {
  display: inline-block;
  position: relative;
  width: 175px;
}

.submenu {
  position: absolute;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.3s linear;
  line-height: 1.6em;
  border-radius: 3%;
}

ul.submenu {
  width: 180px;
  text-align: center;
  background-color: #ff7c7cce;
}

.top_menu > li:hover .submenu {
  transform: scaleY(1);
}

.scroll-top-btn {
  position: fixed;
  right: 5px;
  bottom: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 3px 8px 2px rgba(116, 114, 114, 0.746);
  background-color: rgba(219, 218, 218, 0.541);
  z-index: 5;
  transition-duration: 2s;
  transition: ease-in-out;
}

.hidden {
  visibility: hidden;
}

.scroll-top-btn-icon {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  top: 4px;
  left: 5px;
}

.favicon {
  position: relative;
  float: left;
  padding: auto;
  left: 28vw;
  top: 0.8vw;
  width: 8.5vw;
  background-color: rgba(255, 255, 255, 0.527);
  box-shadow: 5px 5px 15px 0px rgb(84, 87, 87);
}

.footer {
  display: flex;
  height: 65px;
  margin-top: 0.5vw;
  padding: 0.5vw 4vw 0 1vw;
  background-color: rgb(48, 47, 47);
  color: rgb(189, 187, 187);
  box-shadow: 3px 1px 15px 5px #494848;
  border-top: 1px solid rgb(138, 143, 143);
}

.footer div a {
  margin: 3px 0;
  float: left;
}

.footer a > img {
  height: 40px;
  margin: auto 6px;
}
.footer > div > a > img:hover {
  background-color: rgba(131, 128, 128, 0.746);
  border-radius: 50%;
  box-shadow: 3px 3px 8px 2px rgba(167, 163, 163, 0.746);
}

.footer > img.im-float {
  height: 4vw;
  margin: auto 0;
}

.im-float:hover {
  transform: scaleY(1.2);
  transition: ease-in-out;
}

.footer > p {
  margin: auto;
  text-align: center;
}

.footer > address {
  margin: auto 3vw auto 5px;
  font-style: normal;
}

@media (max-width: 1100px) {
  .navigation {
    font-size: 1.6em;
  }
  h1 {
    margin-top: 12px;
    font-size: 4em;
  }
  h3 {
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.1em;
  }
  .hed {
    padding: 5px;
    font-size: 1.5em;
  }
}

@media (max-width: 800px) {
  .scroll-top-btn {
    width: 35px;
    height: 35px;
  }
  .scroll-top-btn-icon {
    width: 25px;
    height: 25px;
  }
  h1 {
    margin-top: 23px;
  }
  .top_menu > li {
    width: 130px;
  }
  ul.submenu {
    width: 130px;
  }
}

@media (max-width: 600px) {
  .top_menu {
    font-size: 0.9em;
  }
  .top_menu > li {
    width: 110px;
  }
  ul.submenu {
    width: 110px;
  }
  h1 {
    margin-top: 23px;
    font-size: 3em;
  }
  h3 {
    font-size: 1em;
    letter-spacing: 0.2em;
    margin: 0 0 5px 0;
    padding-bottom: 7px;
  }
  h2 {
    font-size: 1em;
  }
  .hed {
    padding: 3px;
    font-size: 1.2em;
  }
  .footer {
    font-size: 0.9em;
    height: 110px;
  }
  .footer a > img {
    height: 30px;
    margin: auto 3px;
  }
  .footer div {
    width: 100px;
    height: 80px;
    margin: auto;
  }
}

@media (max-width: 500px) {
  h1 {
    margin-top: 31px;
  }
  .footer > p {
    margin: auto;
    display: flex;
    min-width: 130px;
  }
  .footer > address {
    margin: 10px;
    display: flex;
    width: 100px;
  }
  .footer > img.im-float {
    height: 9vw;
    margin: 10px 0;
  }
}

@media (max-width: 380px) {
  h1 {
    margin-top: 35px;
  }
  .hed {
    padding: 2px;
    font-size: 1.1em;
  }
  .footer {
    height: 150px;
    justify-content: center;
  }
  .footer > p {
    height: 50px;
  }
  .footer div {
    width: 150px;
    height: 40px;
  }
  .footer {
    flex-wrap: wrap;
  }
}
