.rib {
  position: relative;
}
.ribbon {
  display: flex;
  width: 9vw;
  height: 9vw;
  line-height: 50px;
  position: absolute;
  left: -9px;
  top: 9px;
  box-shadow: 8px 8px 10px 4px #636b6b;
  border-top: 1px solid rgb(179, 178, 178);
  border-right: 1px solid rgb(179, 178, 178);
}
.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
}
.ribbon:before {
  height: 0;
  width: 0;
  top: -10px;
  left: 0.1px;
  border-bottom: 9px solid rgb(65, 64, 64);
  border-left: 9px solid transparent;
}
/*.ribbon:after {
  height: 0;
  width: 0;
  right: -22px;
  border-bottom: 28px solid transparent;
  border-left: 20px solid rgb(65, 64, 64);
  top: 91px;
}*/
.favicon {
  width: 100%;
  background: rgb(117, 110, 110);
}
/*
@media (min-width: 500px) {
  .ribbons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /*.ribbon {
      width: 48%;
    }*/
